.App {
  font-family: "Ubuntu", sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

body {
  margin: 0;
  padding: 0;
}

body .main {
  width: 400px;
  height: 400px;

  border-radius: 1.5em;
  box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

@media (max-width:800px) {
  .pc-header {
    display: none;
  }
  .pc-footer{
    display: none;
  }
}

@media (min-width:500px) {
  .mobile-header {
    display: none;
  }
}